<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>
      Are you ready to guess the Secret Number!!?
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
    </p>
  </body>
</html>
